<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Si no existe como archivo ni directorio,
  # reescribe TODO a public/index.php
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.php [L,QSA]
</IfModule>